ast-comments==1.0.1
black==22.6.0
coverage[toml]==6.4.4
ghapi==0.1.19
flake8==6.0.0
flake8-isort==6.0.0
mypy==1.1.1
pymarkdownlnt==0.9.9
pymdown-extensions==9.5
pydantic==1.10.7
pylint==2.15.10
pyspelling==2.7.3
pytest==6.2.5
regex==2023.3.23
typed-argument-parser==1.8.1
tqdm==4.64.1
